/* ==========Global========== */

@font-face {
    font-family:"opensans" ;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family:"fredericka" ;
    src: url(../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
}

/* ----------classes---------- */


.openSansFont{
    font-family: "opensans",sans-serif;
}

.frederickaFont{
    font-family: "fredericka",sans-serif;
}

.whiteFont{
    color:white;
}


.centerText{
    text-align: center;
}

.removeListStyle{
    list-style-type: style none; ;
}


/* ==========Header========== */



header{
    background: url(../img/Lev3_2_css-einführung_box-model_img.jpg);
    background-size:100%;
    padding-top: 10px;
    height: 800px;
    
    
    
}


/* ----------Logo---------- */


header h1{
    font-family: "fredericka",sans-serif;
    margin-left: 100px;
}




/* ----------article---------- */



header article{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

header article h2{
    margin-bottom: 15px;
} 

header article p{
    margin-bottom: 15px;

}




.buttonHeader{
    display: block;
    width: 120px;
    height: 25px;
    padding-top: 4px;
    padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border: 1px solid white;
}

header article a:hover{
    background-color: white;
    color: black;
}



/* ----------nav---------- */



header nav{
    position:absolute;
    right:50px;
    top: 350px;
    
}

.unsortedListHeader{
    margin-top: 200px;
    margin-right: 150px;
    text-align: end;
    line-height: 40px;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    
}

header nav ul a:hover{
    text-decoration: underline;
}





/* ==========main========== */




main article{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 450px;
}

/* ----------h3---------- */

main article h3{
    margin-top: 50px;
    margin-bottom: 30px;
}


/* ----------contact button---------- */

main article div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 10px;;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    width: 140px;
}

main article div a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

main article div a:hover{
    text-decoration: underline;
}

main article div h5{
    margin-bottom: 15px;
}




/* ==========Footer========== */

footer{
    background-color:#1c2336;
    padding-bottom: 25px;
    padding-top: 15px;
}


/* ----------article---------- */

footer article{
    margin:30px;
    width: 600px;
}

footer article p{
    margin-bottom: 30px;
}


/* ----------button---------- */

footer article a{
    padding: 10px;
    margin-left: 20px;
    text-decoration: none;
    border: 1px solid white;
}

footer article a:hover{
    background-color: white;
    color:#1c2336;
}


/* ----------nav---------- */


footer nav ul li{
    display: inline;
    margin:20px;
}

footer nav ul li a{
    text-decoration: none;
}

footer nav ul li a:hover{
    text-decoration: underline;
}

footer nav{
    text-align: end;
    margin-right: 15px;
}